body{
    background: #fff!important;
}
.nav-tabs > li > a, .activity a, a.resource-url-analytics:not(.btn) {
    color: #5F0A30!important;
    text-decoration: none;
}
.nav-tabs > li > a:hover, .activity a:hover, a.resource-url-analytics:not(.btn):hover {
    color: #666!important;
    text-decoration: none;
}
.btn-primary {
    color: #fff;
    background-color: #5F0A30!important;
    border-color: #5F0A30!important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #5F0A30!important;
    border-color: #5F0A30!important;
}
.toolbar{
    z-index: 100;
}
/* HEADER */
.pre-header {
    text-align: center;
    color: #000!important;
    font-size: 1rem;
}
.pre-header .img-founded{    
    height: 60px;
    margin: 0.5rem auto;
}
.account-masthead {
    background: #000!important;
}
.masthead{
    background: #fff!important;    
    position: static;
}
.masthead .container{
    position: static;
}
.masthead .logo img {
    display: none;
}
.masthead .logo {
    background: url('/images/logo.png') no-repeat;
    width: 400px;
    height: 60px;
    background-size: contain;
}
.navbar-left {
    color:#333;
    font-size: 4rem;
    vertical-align: 12px;
    margin-left: 1rem;
}
.site-title{
    vertical-align: 0px;
    color: #000;
    font-size: 3.5rem;
    margin-left: 70px;
    display: inline-block;
}
.masthead .nav > li > a{
    color: #000!important;
    font-size: 2rem;
}
.masthead .nav > li > a:hover, .masthead .nav > li > a:active{
    color: #fff!important;
}
.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a,
.masthead .navigation .nav-pills li a:hover, .site-footer .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li a:focus, .site-footer .navigation .nav-pills li a:focus, .masthead .navigation .nav-pills li.active a, .site-footer .navigation .nav-pills li.active a{
    background: #5F0A30!important;
    color: #fff!important;
}
.page-pre{
    width: 100%;
    height: 200px;
    background-color: #8C7C69;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* background-image: url('/images/638dbb55d80b759a4a551e98c6f60a18c600c969.jpg');
    background-size: cover; */
}
.homepage-pre {
    height: 450px;
    background-image: url('/images/638dbb55d80b759a4a551e98c6f60a18c600c969.jpg');
    background-size: cover;
    background-position: center;
}
.homepage-pre .message{
    margin-top: auto;
    background: #666;
    margin-bottom: 5rem;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    font-size: 3rem;
    color:#fff;
    padding: 2rem 8rem;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}
.masthead .site-search{
    position: absolute;
    top: 120px;
    display: flex;
    width: 100%;
    left: 0;
    margin: 0!important;
}
.masthead .site-search .field{
    background: #fff;
    padding: 4rem 4rem;
    opacity: 0.9;
}

.masthead .site-search input{
    width: 570px!important;
    max-width: 90vw;
    border-radius: 0;
    border:0;
    border-bottom:1px solid #666;
    box-shadow: none;
    font-size: 2rem;
}
.simple-input .field .btn-search{
    right: 50px!important;
}
.simple-input .field .btn-search .fa{
     font-size: 2rem;
}
.masthead .site-search .field{
    margin: auto;
}
.lang-selector {
    text-transform: capitalize;
}

.lang-selector a{
    color:#fff !important
}
.list-languages{
    margin-right: 5rem!important;
}
.account-masthead .account ul li{
    border-left: 0!important;
}
.account-masthead .account ul li.lang-selector{
    border-left: 1px solid #999!important;
}
.account-masthead .account ul li.lang-selector:last-child{
    border-right: 1px solid #999!important;
}
.account-masthead .account ul li.lang-selector{
    border-left: 1px solid #999;
    border-right: 0;
}
.account-masthead .account ul li.lang-selector:last-child{    
    border-right: 1px solid #999;
}
/* FOOTER */
.site-footer{
    background: #000!important;   
    font-size: 2rem;
}
.site-footer .logos {
    margin: 2rem auto;
    background: #fff;
    padding: 1rem 0;
    position: relative;
}
.site-footer .logos .logo img{
    text-align: center;
    margin: 1rem auto;
    max-height: 120px;
}

.contact {
    text-align: right;
}
.masthead .logo, .site-footer .logo{
    display: inherit!important;
}
.masthead .logo, .site-footer .logo.logo-3{
    margin-top: 2rem;
}
/* CONTENT */
.main{
    background: #fff!important;
}
.mt-4 {
    margin-top: 4rem;
}
.site-footer a, .site-footer .title{
    color: #fff!important;
}
.site-footer .address{
    font-size: 1.7rem;   
}
.main .primary{
    position: inherit!important;
}
.wrapper {
    border: 0!important;
    border-radius: 0!important;
    box-shadow:none!important;
    margin-top: 3rem;
    position: inherit!important;
}
.wrapper::before{
    border: 0!important;
}
.module-heading{
    background: transparent!important;
    border: 0!important;
    font-size: 1.8rem!important;
}
.module-heading .fa{
    font-size: 1.8rem!important;
}
.search-form .search-input-group{
    position: absolute;
    top: -160px;
    left: calc(50vw - (325px) - 5px);
    width: calc(570px + 8rem)!important;
    padding: 4rem!important;
    background: #fff;
    opacity: 0.9;
}
.search-form .search-input-group .form-control{
    background: #fff;
    border:0;
    border-bottom:1px solid #666;
    box-shadow: none;
    font-size: 2rem;
    border-radius: 0;
}
.search-form .search-input-group button{
    border: 0!important;
    border-bottom: 1px solid #666!important;
    border-radius: 0!important;
    color:#999!important;
    height: 46px;
}
.search-form .search-input-group button:hover, .search-form .search-input-group button:active:hover{
    background: transparent!important;
    color:#333!important;
}
.media-grid {
    background: none!important;
    border: 0!important;
    display: flex;
    flex-wrap: wrap;
}
.media-grid .notes{
    font-size: 14px;
}
.media-item {
    box-shadow: 1px 3px 5px #ccc;
    width: calc(33% - 10px)!important;
    position: relative!important;
    top:inherit!important;
    left: inherit!important;
    display: table-cell;
    float: none!important;
    flex-grow: 0;
    width: 33%;
    margin-bottom: 20px!important;
}
.media-grid .media-item:nth-child(3n-2){
    margin-left: 0!important;
    margin-right: 0!important;
}
.media-view:hover, .media-view.hovered{
    border-color: #ddd!important;
    box-shadow: 1px 3px 6px #ccc!important;
}
.module-content{
    padding: 15px!important;
}
.media-heading{
    margin: 1rem 0!important;
}
.page-header{
    background: none!important;
}
.dataset-heading{
    font-size: 3rem!important;
}
.main .badge{
    background-color: #ccc!important;
    float: right;
    margin-right: 15px!important;
}
.nav-item.active > a, .nav-aside li.active a{
    background: #8C7C69!important;
}
.nav-item.active > a:hover, .nav-aside li.active a:hover{
    background: #8C7C69!important;
}
@media (min-width: 768px) {
    .nav-item.active > a:before,
    .nav-aside li.active a:before {
        border-left-color: #8C7C69!important;
    }
}
.pill{
    background: #8C7C69!important;
}
/* GROUPS HOME */
.page-container[data-request$="/group/"] h1 {
    display: none!important;
}
.page-container[data-request$="/group/"] .search-form .control-order-by {
    display: none!important;
}
.page-container[data-request$="/group/"] .search-form{
    padding-bottom: 0!important;
}
.page-container[data-request$="/group/"] .media-grid{
    padding-top: 0!important;
}
.module-image img {
    width:100%!important;
    height: auto!important;
    max-width:100%!important;
    max-height: inherit!important;
}
.module-image{
    width:33%!important;
    height: auto!important;
}
.wflex {
    width:60%!important;
}
/* ORGS HOME */
.page-container[data-request$="/organization/"] h1 {
    display: none!important;
}
.page-container[data-request$="/organization/"] .search-form .control-order-by {
    display: none!important;
}
.page-container[data-request$="/organization/"] .search-form{
    padding-bottom: 0!important;
}
.page-container[data-request$="/organization/"] .media-grid{
    padding-top: 0!important;
}

.fa-bars::before{
    color:#5F0A30;
    font-size: 2.5rem;
}
.module h1{
    font-size: 2.9rem;
}
/* DATASETS HOME */
.module-image-block {
  display: block;
  height: 250px;
  margin: 0 0 1.5rem;
}

.module-image-block .module-image{
    width: 100%!important;
    float: none!important;
    height: 250px!important;
    display: block;
    position: relative;
}
.module-image-block.d-flex .module-image{
    width: 40%!important;
    margin-right: 2rem!important;
}
.module-image-block .module-image img {
    width: 100%!important;
    height: 250px!important;
    object-fit: cover;
    position: absolute;
    left: 0;
    border-radius: 3px;
}
.module-image-block.d-flex .module-image img{
    object-fit: inherit;    
}
.module-image-block .module-image-detail{
    width: auto!important;
    height: 250px!important;
}
.module-image-block .module-image-detail img{
    height: 250px!important;
    width: auto!important;
    object-fit: inherit;
}
.detail-image-bg {
    width: 100%;
    background: #fff;
    position: absolute;
    left: 0;
    height: 250px;
}
.dataset-item {
    margin-bottom: 2.5rem;
}
.dataset-item .dataset-content {
    font-size: 1.7rem;
}
.dataset-item .org-name {
    margin-bottom: 1.5rem;
    font-size: 1.7rem!important;
}
.dataset-item .org-name a{
    color:#333333;
}
.dataset-item .org-name a:hover{
    text-decoration: underline;
}
.dataset-item .dataset-resources{
    margin-top: 1.5rem!important;
    font-size: 1.7rem!important;
}
.dataset-item .label{
    background: none!important;
    padding: 0 1rem 0 0;
    color: #999!important;
    font-size: 1.5rem!important;
    font-weight: normal!important;
}
.dataset-item .separator{
    padding: 0 1rem;
}
.dataset-item .dataset-resources{
    color: #999!important;
    font-size: 1.5rem!important;
}
.module h1{
    margin-bottom: 1rem!important;
}
.d-flex{
    display: flex;
}
.organization-field {
    margin-bottom: 2rem;
    font-size: 1.7rem;
}
.organization-field a{
    color: #333 !important;
    text-decoration: underline;
}
.organization-field a:hover{
    color: #206b82 !important;
}
.organization-field > * {
    margin-right: 0.5rem;
}
.tags-container{
    margin-top: 4rem;
    margin-bottom: 1rem;
}
.well{
    background: none!important;
    border: 0!important;
    box-shadow:none!important;
    border-radius: 0!important;
}
.tag-list{
    padding: 0!important;
}
a.tag {
    text-decoration: none!important;
    color: inherit!important;
    background-color: transparent!important;
    border: 0!important;
    box-shadow: none!important;
    text-transform: capitalize;
    padding: 0 15px 0 0;
    text-decoration: underline!important;
}
a.tag:hover {
    text-decoration: none!important;
    color: inherit!important;
    background-color: inherit!important;
    border: inherit!important;
    box-shadow: inherit!important;
}

.page-container[data-logged="no"] .module > .page-header {
    margin: 0!important;
    padding: 0!important;
    border:0!important;
}
.resource-item:hover{
    background-color:transparent!important;
}
.resource-item .heading{
    font-size: 16px!important;
    color:#333!important;
}
.resource-item .description{
    font-size: 14px!important;
}
.resource-item .dropdown-toggle{
    display: none!important;
}
.resource-item .dropdown-menu{
    display: flex!important;
    background: none!important;
    border-radius: 0!important;
    box-shadow: none!important;
    border: 0!important;
    position: relative!important;
}
.resource-item .btn-group {
    right: 150px!important;
    top: 8px!important;
}
.resource-item .dropdown-menu li{
    margin-right: 0.5rem;
}
.resource-item .dropdown-menu li a{
    border: 1px solid #5F0A30;
    background: #5F0A30!important;
    border-radius: 4px;
    color:#fff!important;
}
.add-to-group button{
    margin-top: 1rem;
}
.page-header .nav-tabs .fa{
    display: none!important;
}
.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: transparent!important;
}

/* RESPONSIVE */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .homepage-pre .message{
        padding: 1rem;
        margin-right: 2rem;
        margin-left: 2rem;
        width: calc(100vw - 4rem);
    }
    .page-pre:not(.homepage-pre) {
        height: 15px!important;
        margin-bottom: 1rem;
    }
    .site-title{
        font-size: 2.5rem;
    }
    .contact {
        text-align: left;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .search-form .search-input-group{
        width: 100vw!important;
        left: 0;
    }
    .media-item, .media-grid .media-item:nth-child(3n - 2) {
        width: 100%!important;
        margin-left: 0!important;
        margin-bottom: 2rem!important;
    }
    .masthead .site-search{
        display: block!important;
    }
    .masthead .site-search{
        position: relative;
        top:inherit
    }
    .masthead .site-search .field{
        padding: 2rem;
    }
    .masthead .site-search input{
        width: 95% !important;
    }
    .account-masthead .account ul li:not(.lang-selector-list){
        display: none!important;
    }
    .list-languages {
        margin-right: 0.5rem !important;
    }
    .toolbar .breadcrumb a{
        color: #333!important;
    }
    .main aside.secondary{
        display: none;
    }
    .organization-field.d-flex{
        display: block;
    }
    .created-field .sep{
        display: none;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .site-title{
        font-size: 2.5rem;
    }
    .masthead .nav > li > a{
        font-size: 1.8rem;
    }
    .homepage-pre .message{
        padding: 1rem;
        margin-right: 2rem;
        margin-left: 2rem;
        width: calc(100vw - 4rem);
    }
    .masthead .site-search{
        display: block!important;
    }
    .account-masthead .account ul li:not(.lang-selector-list){
        display: none!important;
    }
    .list-languages {
        margin-right: 0.5rem !important;
    }
    .toolbar .breadcrumb a{
        color: #000!important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  
    .masthead .logo {
        width: 260px;
    }
    .site-title{
        font-size: 2.4rem;
    }
    .masthead .nav > li > a{
        font-size: 1.8rem;
    }
    .homepage-pre .message{
        padding: 1rem;
        margin-right: 2rem;
        margin-left: 2rem;
        width: calc(100vw - 4rem);

    }
    .masthead .site-search{
        display: block!important;
    }
    .wrapper::before{
        display: none!important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {  
    .masthead .logo {
        width: 260px;
    }
    .site-title{
        font-size: 2.4rem;
    }
    .masthead .nav > li > a{
        font-size: 1.8rem;
    }
    .homepage-pre .message{
        padding: 1rem;
        margin-right: 10rem;
        margin-left: 10rem;
        width: calc(100vw - 20rem);
    }
    .wrapper::before{
        display: none!important;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1499.98px) {
    .homepage-pre .message{
        width: 60vw;
    }
    .wrapper::before{
        display: none!important;
    }
}

@media (min-width: 1200px) {  
    .wrapper::before{
        display: none!important;
    }
    .media-grid {
        margin-top: -50px!important;
    }
    .page-container[data-request$="/group/"] .media-grid {
        margin-top: 0px!important;
    }
    .page-container[data-request$="/organization/"] .media-grid {
        margin-top: 0px!important;
    }
    .page-container[data-request*="/dataset/"] .row.wrapper {        
        display: flex;
    }

    .page-container[data-request*="/dataset/"] .row.wrapper > aside{        
        order: 2;
        
    }
    .page-container[data-request*="/dataset/"] .row.wrapper > div{        
        order: 1;        
    }
    .page-container[data-request*="/resource/"] .row.wrapper .primary{        
        display: none;
    }
    .page-container[data-request*="/resource/"] .row.wrapper > aside{        
        display: none;
    }
    .page-container[data-request*="/resource/new"] .row.wrapper .primary{        
        display: block;
    }
    .page-container[data-request*="/resource/new"] .row.wrapper > aside{        
        display: block;
    }
    .page-container[data-request*="/resource/"][data-request*="/edit"] .row.wrapper .primary{        
        display: block;
    }
    .page-container[data-request*="/resource/"][data-request*="/edit"] .row.wrapper > aside{        
        display: block;
    }
    .page-container[data-request$="/dataset/"] .row.wrapper > aside{        
        order: 1;
    }
    .page-container[data-request$="/dataset/"] .row.wrapper > div{        
        order: 2;
    }    
    /* .page-container[data-request*="/dataset/"] .row.wrapper .page-header .nav-tabs {
        position: absolute;
        z-index: 10;
        margin-bottom: 1.5rem;
    } */
    .page-header .nav-tabs {
        width: 100%!important;
        margin-bottom: 2rem!important;
    }    

    .page-container[data-request*="/dataset/"] .row.wrapper .page-header{
        border-bottom: 0!important;
    }
    

    .page-container[data-request*="/dataset/"] .module-content {
        padding-left: 0!important;
    }

}

.logos-disclaimer {
    font-size: 13px;
}