body{
    background: #fff!important;
}
/* HEADER */
.pre-header {
    text-align: center;
    color: #000!important;
    font-size: 1rem;
}
.pre-header .img-founded{    
    height: 60px;
    margin: 0.5rem auto;
}
.account-masthead {
    background: #000!important;
}
.masthead{
    background: #fff!important;
    position: relative;
}
.masthead .logo img {
    display: none;
}
.masthead .logo {
    background: url('/images/logo.png');
    width: 60px;
    height: 60px;
    background-size: contain;
}
.navbar-left::after {
    content: 'Ladino Data Hub';
    color:#333;
    font-size: 4rem;
    vertical-align: 12px;
    margin-left: 1rem;
}
.masthead .nav > li > a{
    color: #000!important;
    font-size: 2rem;
}
.masthead .nav > li > a:hover, .masthead .nav > li > a:active{
    color: #fff!important;
}
.masthead .navigation .nav-pills li a:hover, .masthead .navigation .nav-pills li.active a{
    background: #5F0A30!important;
    color: #fff!important;
}
.page-pre{
    width: 100%;
    height: 35vh;
    background-color: #8C7C69;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-image: url('/images/638dbb55d80b759a4a551e98c6f60a18c600c969.jpg');
    background-size: cover;
}
.homepage-pre {
    height: 55vh;
    background-image: url('/images/638dbb55d80b759a4a551e98c6f60a18c600c969.jpg');
    background-size: cover;
}
.homepage-pre .message{
    margin-top: auto;
    background: #666;
    margin-bottom: 5rem;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    font-size: 3rem;
    color:#fff;
    padding: 2rem 8rem;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}
.masthead .site-search{
    position: absolute;
    top: 150px;
    display: flex;
    width: 100%;
    left: 0;
}
.masthead .site-search .field{
    background: #fff;
    padding: 4rem 4rem;
    opacity: 0.9;
}

.masthead .site-search input{
    width: 30vw!important;
    max-width: 90vw;
    border-radius: 0;
    border:0;
    border-bottom:1px solid #666;
    box-shadow: none;
    font-size: 2rem;
}
.simple-input .field .btn-search{
    right: 50px!important;
}
.simple-input .field .btn-search .fa{
     font-size: 2rem;
}
.masthead .site-search .field{
    margin: auto;
}

/* FOOTER */
.site-footer{
    background: #000!important;   
    font-size: 2rem;
}
.site-footer .logos {
    margin: 2rem auto;
}
.site-footer .logos .logo img{
    text-align: center;
    margin: auto;
}
/* CONTENT */
.main{
    background: #fff!important;
}
.mt-4 {
    margin-top: 4rem;
}
.site-footer a, .site-footer .title{
    color: #fff!important;
}
.site-footer .address{
    font-size: 1.7rem;   
}
.wrapper {
    border: 0!important;
    border-radius: 0!important;
    box-shadow:none!important;
    margin-top: 3rem;
}