{% ckan_extends %}

{% block links -%}
    <link rel="shortcut icon" href="/images/favicon-32x32.png" />
{% endblock -%}

{% block styles %}
  {{ super() }}  
  <link rel="stylesheet" href="/css/collectivat_theme.css" />
  
{% endblock %}

{% block scripts %}
  <script src="/js/vue@3.2.33.js"></script>  
  <script src="/js/axios.min.js"></script>  
  <script type="module" src="/js/collectivat.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TWZ17K7RCG"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-TWZ17K7RCG');
  </script>
{% endblock %}