{% ckan_extends %}


{% block header_debug -%}
    {{ super() }}
    <div class="pre-header">
        <div class="container">
            <img class="img-responsive img-founded" alt="" src="/images/ARRIBA.png" />
            {% trans %}This project is funded by the European Union.
            {% endtrans %}
        </div>        
    </div>    
{% endblock -%}


{% block header_site_search -%}
    {% if request.path == '/' or ( '/dataset/' in request.path and not request.path.endswith('/') ) %}
    {{ super() }}
    {% endif %}    
{% endblock -%}


{% block header_logo -%}
    {{ super() }}
    <span class="site-title">
    {% trans %}Ladino Data Hub
    {% endtrans %}    
    </span>
{% endblock -%}
