{% ckan_extends %}


{% block header_debug -%}
    {{ super() }}
    <div class="pre-header">
        <div class="container">
            <img class="img-responsive img-founded" alt="" src="/images/ARRIBA.png" />
            {% trans %}This project is funded by the European Union.
            {% endtrans %}
        </div>        
    </div>    
{% endblock -%}


{% block header_site_search -%}
    {% if request.path == '/' or ( '/dataset/' in request.path and not request.path.endswith('/') ) %}
    {{ super() }}
    {% endif %}    
{% endblock -%}


{% block header_logo -%} 
    {% if g.site_logo %}
        <a class="logo" href="{{ h.url_for('home.index') }}"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" />
            <span class="site-title">
                {% trans %}Ladino Data Hub
                {% endtrans %}    
            </span>
        </a>
    {% else %}
        <h1>
          <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}
            <h2>{{ g.site_description }}</h2>
        {% endif %} 
    {% endif %}
{% endblock -%}
