{% ckan_extends %}

{% block heading %}
<div class="module-image-block">
    <a class="module-image module-image-organization" href="{{ h.url_for(package.type ~ '.read', id=package.name) }}">    
        <img src="{{ h.url_for_static_or_external('/uploads/group/' + package.organization.image_url) }}" alt="{{ package.name }}" />    
    {% for extra in h.sorted_extras(package.extras) %}
        {% set key, value = extra %}
        {% if key == 'image_url' %}
        <img src="{{ value }}" alt="{{ package.name }}" title="{{ package.name }}" />    
        {% else %}
        {% endif %}
    {% endfor %}
    </a>
</div>
{{ super() }}
{% if request.path != '/' %}
<div class="org-name">
    {{ package.organization.name }}
</div>
{% endif %}
{% endblock %}

{% block resources_inner %}
{% if request.path != '/' %}
<li class="metadata-modified">
    {{ _('Dataset Updated') }} {{ h.render_datetime(package.metadata_modified, '%d/%m/%Y') }}
</li>
<li class="separator">
    |
</li>
{{ super() }}
{% endif %}
{% endblock %}